/* Font Stuff */
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

body, p {
  font-family: 'Open Sans', sans-serif;
}

code, kbd, p.code, p.command, p.summary, pre, ul.code li, input[type="search"], {
  font-family: 'Source Code Pro', monospace;
  font-size: 90%;
}

pre, pre code {
  white-space: pre;
}

h1, h2, h3, h4, h5, h6, p.list {
  font-family: 'Architects Daughter', cursive;
}

a, small {
  font: inherit;
}

small {
  font-size: 66%;
}

a[name] {
  color: inherit;
  text-decoration: inherit;
}

/* General look-n-feel */
body {
  background: #fff;
  color: black;
  font-size: 20px;
  line-height: 32px;
}

small {
  color: #555;
}

a:link, a:visited {
  color: #c00;
  text-decoration: none;
}

a:link:hover, a:active {
  color: #f00;
  text-decoration: none;
}

img.logo {
  height: 32px;
  margin-right: 10px;
  vertical-align: top;
  width: 32px;
}

[class^="icon-"],
[class*=" icon-"] {
  line-height: 20px;
  vertical-align: baseline;
}

a.btn, button.btn {
  background: #ccc;
  border-color: #ccc;
  border-radius: 10px;
  color: #000;
  font-family: 'Architects Daughter', cursive;
  font-size: 80%;
  padding: 2px 10px;
  text-decoration: none;
}

a.btn:hover {
  background: #ddd;
  border-color: #ddd;
  color: #f00;
}

.container-header {
  background: #eee;
  background-image: linear-gradient(#ddd, #eee);
  color: black;
}

.container-header a.btn {
  background: #ccc;
  border-color: #ccc;
  color: #000;
}

.container-header a.btn:hover {
  background: #ddd;
  border-color: #ddd;
  color: #f00;
}

a.btn-primary, .container-header a.btn-primary {
  background: #333;
  border-color: #333;
  color: #eee;
}

a.btn-primary:hover, .container-header a.btn-primary:hover {
  background: #555;
  border-color: #555;
  color: #fff;
}

/* Site theme */
pre.highlight {
  padding-left: 2em;
}

h1 {
  margin-top: 0px;
}

/* Header, footer, and navigation */
nav.navbar-inverse {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8) inset;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #e00;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #f00;
}

a.navbar-brand {
  padding: 10px 15px;
}

a.navbar-brand img {
  border: thin solid #fff;
  height: 30px;
  vertical-align: top;
}

a.navbar-brand img:hover {
  border: thin solid #b8c3ff;
}

nav .container-fluid {
  padding: 5px 15px;
}

.container-fluid {
  padding: 25px 50px;
}

.container-header {
  padding-top: 90px;
  width: 100%;
}

.container-footer {
  padding-top: 0px;
}

.footer {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8) inset;
  bottom: 0px;
  color: #999999;
  font-size: 14px;
  left: 0px;
  padding: 15px 15px 5px;
  position: fixed;
  width: 100%;
}

.footer p {
  margin-top: 0px;
  text-align: justify;
}

.footer p, .footer a {
  color: #999999;
  font-size: 14px;
}

.bg10 {
  background: rgba(221,221,221,0.1);
}

.bg20 {
  background: rgba(221,221,221,0.2);
}

.bg30 {
  background: rgba(221,221,221,0.3);
}

.bg40 {
  background: rgba(221,221,221,0.4);
}

.bg50 {
  background: rgba(221,221,221,0.5);
}

.bg60 {
  background: rgba(221,221,221,0.6);
}

.bg70 {
  background: rgba(221,221,221,0.7);
}

.bg80 {
  background: rgba(221,221,221,0.8);
}

.bg90 {
  background: rgba(221,221,221,0.9);
}

.justify {
  text-align: justify;
}

.mobile {
  display: none;
}
.no-mobile {
  display: inline;
}
td.no-mobile, th.no-mobile {
  display: table-cell;
}

/* API documentation styles... */
kbd {
  font-weight: bold;
}

pre.command {
  border: dotted thin #7f7f7f;
  margin-left: 36pt;
  padding: 10px;
}

p.compact {
  margin: 0;
}

p.example {
  font-style: italic;
  margin-left: 36pt;
}

dl.man dd {
  margin-left: 5em;
}

dl.man dt {
  margin-left: 0;
}

pre.man {
  margin: 0;
}

pre.example {
  background: #eeeeee;
  border: dotted thin #999999;
  margin-left: 36pt;
  padding: 10pt;
}

p.command {
  margin-left: 36pt;
}

p.formula {
  font-style: italic;
  margin-left: 36pt;
}

blockquote {
  background: #eeeeee;
  border: solid thin #999999;
  padding: 10pt;
}

sub, sup {
  font-size: 50%;
}

tr.data, td.data, tr.data td {
  margin-top: 10pt;
  padding: 5pt;
  border-bottom: solid 1pt #999999;
}

tr.data th {
  border-bottom: solid 1pt #999999;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
}

table.standard {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table.standard caption {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

table.standard td {
  border: solid thin #cccccc;
  padding-top: 5pt;
}

table.standard th {
  background: #cccccc;
  border: none;
  border-bottom: solid thin #999999;
  padding: 1px 5px;
}

table.figure {
  margin-left: auto;
  margin-right: auto;
}

div.figure caption {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

th.label {
  text-align: right;
  vertical-align: top;
}

th.sublabel {
  text-align: right;
  font-weight: normal;
}

hr {
  border: solid thin;
}

span.info {
  background: black;
  border: thin solid black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

h2 span.info, h3 span.info, h4 span.info {
  float: right;
  font-size: 100%;
}

h1.title {
}

h2.title, h3.title {
  border-bottom: solid 2pt #000000;
}

div.indent, table.indent {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.indent {
  border-collapse: collapse;
}

table.indent td, table.indent th {
  padding: 0;
}

table.list {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.list th {
  background: white;
  border-bottom: solid thin #cccccc;
  color: #444444;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
}

table.list th a {
  color: #4444cc;
}

table.list td {
  border-bottom: solid thin #eeeeee;
  padding-top: 5pt;
  padding-left: 5pt;
}

table.list tr:nth-child(even) {
  background: #f8f8f8;
}

table.list tr:nth-child(odd) {
  background: #f4f4f4;
}

dt {
  margin-left: 36pt;
  margin-top: 12pt;
}

dd {
  margin-left: 54pt;
}

dl.category dt {
  font-weight: bold;
}

p.summary {
  margin-left: 36pt;
}

table.summary {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

table.summary td, table.summary th {
  border: solid thin #999999;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

table.summary thead th {
  background: #eeeeee;
}

div.body h1 {
  margin: 0;
}
div.body h2 {
  margin-top: 1.5em;
}
div.body h3, div.body h4, div.body h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.class, .enumeration, .function, .struct, .typedef, .union {
  border-bottom: solid thin #999999;
  margin-bottom: 0;
  margin-top: 2em;
}
.description {
  margin-top: 0.5em;
}
ul.code, ul.contents, ul.subcontents {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
ul.code li {
  margin: 0;
}
ul.contents > li {
  margin-top: 1em;
}
ul.contents li ul.code, ul.contents li ul.subcontents {
  padding-left: 2em;
}
div.body dl {
  margin-left: 0;
  margin-top: 0;
}
div.body dt {
  font-style: italic;
  margin-left: 0;
  margin-top: 0;
}
div.body dd {
  margin-bottom: 0.5em;
}

/* iPhone/iPod touch overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  nav.navbar-fixed-top {
    position: relative;
  }
  .footer {
    position: relative;
  }
  .container-header {
    padding-top: 20px;
    margin-top: -20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 small, h2 small {
    display: inline-block;
  }
  pre, pre code {
    display: block;
    font-size: 66%;
    overflow-x: scroll;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
  }
  .mobile {
    display: inline;
  }
  td.mobile, th.mobile {
    display: table-cell;
  }
  .no-mobile, td.no-mobile, th.no-mobile {
    display: none;
  }
}

/* Print overrides */
@media print {
  nav.navbar {
    display: none;
  }

  DIV.footer {
    font-style: italic;
    position: relative;
  }

  .hidden-print {
    display: none;
  }

  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  input {
    display: none;
  }
}

