/* Font Stuff */
@import 'https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

body, p {
  font-family: 'Open Sans', sans-serif;
}

code, kbd, p.code, p.command, p.summary, pre, ul.code li, input[type="search"] {
  font-family: 'Source Code Pro', monospace;
  font-size: 90%;
}

pre {
  background: #eee;
  margin-left: 40px;
  padding: 10px;
}

pre, pre code {
  white-space: pre;
}

h1, h2, h3, h4, h5, h6, p.list {
  font-family: 'Architects Daughter', sans-serif;
}

a, small {
  font: inherit;
}

small {
  font-size: 66%;
}

a[name] {
  color: inherit;
  text-decoration: inherit;
}

/* General look-n-feel */
body {
  background: white;
  color: black;
  font-size: 20px;
  line-height: 32px;
}

small {
  color: #555;
}

kbd {
  background: inherit;
}
code, kbd {
  color: #600;
}

a:link, a:visited {
  color: #c00;
  text-decoration: underline;
}

a:link:hover, a:active {
  color: #f00;
  text-decoration: underline;
}

h2 a:link, h2 a:visited, h2 a:link:hover, h2 a:active {
  color: black;
  text-decoration: none;
}

img.logo {
  float: left;
  height: 80px;
  margin-right: 10px;
  vertical-align: top;
  width: 80px;
}

a.btn, button.btn {
  background: #ccc;
  border-color: #ccc;
  border-radius: 5px;
  color: #000;
  font-family: 'Architects Daughter', cursive;
  font-size: 80%;
  margin-right: 5px;
  padding: 2px 10px;
  text-decoration: none;
}

a.btn:hover, button.btn:hover {
  background: #ddd;
  border-color: #ddd;
  color: #f00;
  text-decoration: none;
}

.container-header {
  background: #eee;
  background-image: linear-gradient(#ddd, #eee);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
  color: black;
}

.container-header a.btn, .container-header button.btn  {
  background: #ccc;
  border-color: #ccc;
  color: #000;
}

.container-header a.btn:hover, .container-header button.btn:hover {
  background: #ddd;
  border-color: #ddd;
  color: #f00;
}

a.btn-primary, .container-header a.btn-primary {
  background: #333;
  border-color: #333;
  color: #eee;
}

a.btn-primary:hover, .container-header a.btn-primary:hover {
  background: #555;
  border-color: #555;
  color: #fff;
}

/* Site theme */
pre.highlight {
  padding-left: 2em;
}

h1 {
  margin-top: 0px;
}

h2 a:link {
  text-decoration: underline;
}

div.btn-toolbar {
  margin-top: -10px;
}

div.btn-group {
  margin-top: 10px;
}

/* Header, footer, and navigation */
nav.bg-msweet {
  background-color: rgba(34,34,34,0.8);
  box-shadow: 0px 0px 20px rgba(17,17,17,0.8) inset;
  padding: 5px 15px;
}

.navbar.navbar-dark .navbar-nav .nav-item a.nav-link {
  color: #e00;
  text-decoration: none;
}
.navbar.navbar-dark .navbar-nav .nav-item a.nav-link:hover {
  color: #f00;
  text-decoration: none;
}
a.dropdown-item:link, a.dropdown-item:visited {
  text-decoration: none;
}
a.dropdown-item:hover {
  background: rgba(238,238,238,0.95);
  color: #f00;
  text-decoration: none;
}

a.navbar-brand {
  padding: 10px 15px;
  text-decoration: none;
}

a.navbar-brand img {
  border: thin solid #fff;
  height: 30px;
  vertical-align: top;
}

a.navbar-brand img:hover {
  border: thin solid #b8c3ff;
}

.navbar-status {
  float: right;
  margin-top: 8px;
}

.container-fluid {
  padding: 25px 50px;
}

.container-header {
  padding-top: 90px;
  width: 100%;
}

.container-header-small {
  padding-top: 75px;
  padding-bottom: 0px;
}

.container-header-small h1 {
  color: #555;
  font-size: 120%;
}

.container-header-small h1 img.logo {
  height: 60px;
  margin-top: 2px;
  width: 60px;
}

.container-footer {
  padding-top: 0px;
}

.footer {
  background-color: rgba(34,34,34,0.8);
  box-shadow: 0px 0px 20px rgba(17,17,17,0.8) inset;
  bottom: 0px;
  color: #999999;
  font-size: 14px;
  left: 0px;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
}

.footer p {
  margin-top: 0px;
  text-align: justify;
}

.footer p, .footer a {
  color: #999999;
  font-size: 14px;
}

.bg10 {
  background: rgba(221,221,221,0.1);
}

.bg20 {
  background: rgba(221,221,221,0.2);
}

.bg30 {
  background: rgba(221,221,221,0.3);
}

.bg40 {
  background: rgba(221,221,221,0.4);
}

.bg50 {
  background: rgba(221,221,221,0.5);
}

.bg60 {
  background: rgba(221,221,221,0.6);
}

.bg70 {
  background: rgba(221,221,221,0.7);
}

.bg80 {
  background: rgba(221,221,221,0.8);
}

.bg90 {
  background: rgba(221,221,221,0.9);
}

.justify {
  text-align: justify;
}

.mobile {
  display: none;
}
.no-mobile {
  display: inline;
}
td.no-mobile, th.no-mobile {
  display: table-cell;
}

/* API documentation styles... */
kbd {
  font-weight: bold;
}

pre.command {
  border: dotted thin #7f7f7f;
  margin-left: 36pt;
  padding: 10px;
}

p.compact {
  margin: 0;
}

p.example {
  font-style: italic;
  margin-left: 36pt;
}

dl.man dd {
  margin-left: 5em;
}

dl.man dt {
  margin-left: 0;
}

pre.man {
  margin: 0;
}

pre.example {
  background: #eee;
  border: dotted thin #999;
  margin-left: 36pt;
  padding: 10pt;
}

p.command {
  margin-left: 36pt;
}

p.formula {
  font-style: italic;
  margin-left: 36pt;
}

blockquote {
  background: #eee;
  border: solid thin #999;
  padding: 10pt;
}

sub, sup {
  font-size: 50%;
}

tr.data, td.data, tr.data td {
  margin-top: 10pt;
  padding: 5pt;
  border-bottom: solid 1pt #999999;
}

tr.data th {
  border-bottom: solid 1pt #999999;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
}

table.standard {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table.standard caption {
  caption-side: top;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

table.standard td {
  border: solid thin #cccccc;
  padding-top: 5pt;
}

table.standard th {
  background: #cccccc;
  border: none;
  border-bottom: solid thin #999999;
  padding: 1px 5px;
}

table.figure {
  margin-left: auto;
  margin-right: auto;
}

div.figure caption {
  caption-side: bottom;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

th.label {
  text-align: right;
  vertical-align: top;
}

th.sublabel {
  text-align: right;
  font-weight: normal;
}

hr {
  border: solid thin;
}

span.info {
  background: black;
  border: thin solid black;
  color: white;
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

h2 span.info, h3 span.info, h4 span.info {
  float: right;
  font-size: 100%;
}

h1.title {
}

h2.title, h3.title {
  border-bottom: solid 2pt #000000;
}

div.indent, table.indent {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.indent {
  border-collapse: collapse;
}

table.indent td, table.indent th {
  padding: 0;
}

table.list {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.list th {
  background: white;
  border-bottom: solid thin #cccccc;
  color: #444444;
  padding-top: 10pt;
  padding-left: 5pt;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
}

table.list th a {
  color: #4444cc;
}

table.list td {
  border-bottom: solid thin #eeeeee;
  padding-top: 5pt;
  padding-left: 5pt;
}

table.list tr:nth-child(even) {
  background: #f8f8f8;
}

table.list tr:nth-child(odd) {
  background: #f4f4f4;
}

dt {
  margin-left: 36pt;
  margin-top: 12pt;
}

dd {
  margin-left: 54pt;
}

dl.category dt {
  font-weight: bold;
}

p.summary {
  margin-left: 36pt;
}

table.summary {
  border: solid thin #999999;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

table.summary td, table.summary th {
  border: solid thin #999999;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

table.summary thead th {
  background: #eeeeee;
}

div.body h1 {
  margin: 0;
}
div.body h2 {
  margin-top: 1.5em;
}
div.body h3, div.body h4, div.body h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.class, .enumeration, .function, .struct, .typedef, .union {
  border-bottom: solid thin #999999;
  margin-bottom: 0;
  margin-top: 2em;
}
.description {
  margin-top: 0.5em;
}
ul.code, ul.contents, ul.subcontents {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
ul.code li {
  margin: 0;
}
ul.contents > li {
  margin-top: 1em;
}
ul.contents li ul.code, ul.contents li ul.subcontents {
  padding-left: 2em;
}
div.body dl {
  margin-left: 0;
  margin-top: 0;
}
div.body dt {
  font-style: italic;
  margin-left: 0;
  margin-top: 0;
}
div.body dd {
  margin-bottom: 0.5em;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #ccc;
  }
  h2 a:link, h2 a:visited, h2 a:link:hover, h2 a:active {
    color: #ccc;
  }
  code, kbd {
    color: #c00;
  }
  blockquote, div.panel {
    background: #333;
    border-color: #666;
    color: #eee;
  }
  div.panel-default > div.panel-heading, .form-control {
    background: #444;
    border-color: #666;
    color: #eee;
  }
  pre, pre.example {
    background: #333;
    border: dotted thin #666;
    color: #eee;
  }
  .dropdown-menu {
    background: rgba(34,34,34,0.95);
  }
  .dropdown-divider {
    border-color: #444;
  }
  a.dropdown-item:hover {
    background: rgba(68,68,68,0.95);
  }
  .container-header {
    background: #333;
    background-image: linear-gradient(#222, #333);
    color: #eee;
  }
  .container-header-small h1 {
    color: #999;
  }
  a.btn-primary, .container-header a.btn-primary {
    background: #333;
    border-color: #999;
    color: #ccc;
  }
  a.btn-primary:hover, .container-header a.btn-primary:hover {
    background: #444;
    border-color: #aaa;
    color: #ddd;
  }
  a.btn-default, a.btn-normal, .container-header a.btn-normal, .container-header button.btn-normal {
    background: #666;
    border-color: #999;
    color: black;
  }
  a.btn-default:hover, a.btn-normal:hover, .container-header a.btn-normal:hover, .container-header button.btn-normal:hover {
    background: #777;
    border-color: #aaa;
    color: #700;
  }
  input, textarea {
    background: #333;
    color: #eee;
  }
}

/* iPhone/iPod touch overrides */
@media only screen and (max-width: 414px) {
  img.logo, .container-header-small h1 img.logo {
    display: block;
    float: none;
    height: 80px;
    width: 80px;
  }
  nav.fixed-top {
    position: relative;
  }
  .footer {
    position: relative;
  }
  .container-header {
    padding-top: 20px;
    margin-top: 0px;
  }
  .container-fluid {
    padding: 25px 20px;
  }
  .container-footer {
    display: none;
  }
  .navbar-status {
    float: none;
    margin-top: inherit;
  }
  h1 small, h2 small {
    display: inline-block;
  }
  pre, pre code, pre.command, pre.example {
    display: block;
    font-size: 50%;
    margin-left: 0px;
    overflow-x: scroll;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
  }
  .mobile {
    display: inline;
  }
  td.mobile, th.mobile {
    display: table-cell;
  }
  .no-mobile, td.no-mobile, th.no-mobile {
    display: none;
  }
}

/* Print overrides */
@media print {
  nav.navbar {
    display: none;
  }

  div.footer {
    font-style: italic;
    position: relative;
  }

  .hidden-print {
    display: none;
  }

  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  input {
    display: none;
  }
}

