---
title: Blog
layout: default
---

<div class="container-fluid container-header container-header-small">
  <div class="row">
    <div class="col-sm-12">
      <h1>Blog <small>Project Updates and Random Thoughts</small></h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <nav>
      <ul class="pagination">
	<li class="page-item"><a class="page-link" href="blog-2022.html">2022</a></li>
	<li class="page-item active"><a class="page-link" href="blog-2021.html">2021</a></li>
	<li class="page-item"><a class="page-link" href="blog-2020.html">2020</a></li>
      </ul>
    </nav>
{% for post in site.posts %}
{% assign year = post.date | date: "%Y" %}
{% if year == "2021" %}
    <div class="col-sm-12" id="{{ post.id }}">
      <h2><img class="float-start me-2 glow" src="/{{post.category}}/{{post.category}}-160.png" width="40" height="40"> <a href="{{ post.url }}">{{post.title}}</a> <small>{{ post.date | date: "%B %d, %Y" }}</small></h2>
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <p><a class="btn btn-default btn-xs" href="{{ post.url }}">More{% if post.comments %} + <span  id="{{ post.url | slugify }}">Comments</span>{% endif %}</a><br>&nbsp;</p>
      {% elsif post.comments %}
      <p><a class="btn btn-default btn-xs" href="{{ post.url }}" id="{{ post.url | slugify }}">Comments</a><br>&nbsp;</p>
      {% else %}
      <p>&nbsp;</p>
      {% endif %}
    </div>
{% endif %}
{% endfor %}
    <nav>
      <ul class="pagination">
	<li class="page-item"><a class="page-link" href="blog-2022.html">2022</a></li>
	<li class="page-item active"><a class="page-link" href="blog-2021.html">2021</a></li>
	<li class="page-item"><a class="page-link" href="blog-2020.html">2020</a></li>
      </ul>
    </nav>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready( function() {
{% for post in site.posts offset: 0 limit: 8 %}
{% if post.comments %}
$('#{{ post.url | slugify }}').load('https://api.msweet.org/count-comments.php?PAGE={{post.url | cgi_escape}}');
{% endif %}
{% endfor %}
});
</script>
