---
title: Blog
layout: default
---

<div class="container-fluid container-header container-header-small">
  <div class="row">
    <div class="col-sm-12">
      <h1>Blog <small>Project Updates and Random Thoughts</small></h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
{% for post in site.posts %}
    <div class="col-sm-12" id="{{ post.id }}">
      <h2><a href="{{ post.url }}">{{post.title}} <small>{{ post.date | date_to_string }}</small></a></h2>
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <p><a class="btn btn-default btn-xs" href="{{ post.url }}">More</a><br>&nbsp;</p>
      {% else %}
      <p>&nbsp;</p>
      {% endif %}
    </div>
{% endfor %}
  </div>
</div>
