---
title: The Official Site of Michael R Sweet
layout: default
---

<div class="container-fluid container-header container-header-small">
  <div class="row">
    <div class="col-sm-12">
      <h1><small>The Official Site of Michael R Sweet</small></h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
{% for post in site.posts offset: 0 limit: 4 %}
      <h2><a href="{{ post.url }}">{{post.title}} <small>{{ post.date | date_to_string }}</small></a></h2>
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <p><a class="btn btn-default btn-xs" href="{{ post.url }}">More</a><br>&nbsp;</p>
      {% else %}
      <p>&nbsp;</p>
      {% endif %}
{% endfor %}
      <p><a class="btn btn-default btn-xs" href="blog.html">View All Posts</a></p>
    </div>
  </div>
</div>
