/* Basic appearance */
BODY {
  background: white;
  color: black;
  font-family: sans-serif;
  margin: 10px;
}

P, TD, TH {
  color: black;
  font-family: sans-serif;
}

H1, H2, H3, H4, H5, H6 {
  color: black;
  font-family: sans-serif;
}

KBD {
  color: #006600;
  font-family: monospace;
  font-weight: bold;
}

PRE {
  color: #7f0000;
  font-family: monospace;
}

SUB, SUP {
  font-size: smaller;
}

FORM {
  display: inline;
}

INPUT[TYPE="TEXT"], INPUT[TYPE="PASSWORD"], INPUT[TYPE="SEARCH"], TEXTAREA {
  font-family: monospace;
}

A:link {
  font-family: sans-serif;
  text-decoration: none;
  color: #00007f;
}

A:visited {
  font-family: sans-serif;
  text-decoration: none;
  color: #0000bf;
}

A:hover {
  font-family: sans-serif;
  text-decoration: none;
  color: #7f0000;
}

A:active {
  font-family: sans-serif;
  text-decoration: underline;
  color: #bf0000;
}

BLOCKQUOTE {
  background: #eeeeee;
  border: thin solid #dddddd;
  border-radius: 10px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

P.indent {
  margin-left: 3em;
}

PRE.example {
  background: #ffffee;
  border: thin dotted #999988;
  margin-left: 3em;
  margin-right: 3em;
  padding: 10px;
}

TABLE.standard {
  border-bottom: solid thin #dddddd;
  border-collapse: collapse;
  margin-left: 3em;
}

TABLE.standard TH {
  border-bottom: solid thin #dddddd;
  color: #444444;
  padding: 0px 5px;
  vertical-align: bottom;
}

TABLE.standard TH A {
  color: #4444cc;
}

TABLE.standard TD {
  border-top: solid thin #dddddd;
  padding: 2px 10px;
  vertical-align: top;
}

TABLE.standard TR:nth-child(even) TD {
  background-color: #eeeeee;
  padding-top: 2px;
  padding-left: 5pt;
}

TABLE.standard TR:nth-child(odd) TD {
  background-color: #f7f7f7;
  padding-top: 2px;
  padding-left: 5pt;
}

VAR {
  font-family: serif;
  font-style: italic;
}

EM {
  font-weight: bold;
  font-style: italic;
}

H1, H2, H3, TH {
  font-variant: small-caps;
}

/* Page Layout for standard browsers */
DIV#body {
  margin-left: 178px;
  margin-right: 10px;
  max-width: 1600px;
  min-width: 600px;
}

DIV#sidebar {
  background: #cccccc;
  border: solid thin #cccccc;
  border-radius: 10px;
  color: black;
  display: inline;
  float: left;
  margin: 0px 10px 10px; /* top right+left bottom */
  padding: 10px;
  width: 128px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

DIV#sidebar A {
  color: black;
}

DIV#sidebar A:hover {
  background: black;
  color: white;
}

DIV#sidebar HR {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: solid 2px #666666;
  margin: 5px 10px 5px 0px;
}

DIV#sidebar IMG {
  border-bottom: solid 2px #666666;
  height: 128px;
  width: 128px;
}

DIV#sidebar P {
  color: black;
  font-size: 200%;
  line-height: 100%;
  margin: 0px 0px 10px;
  text-align: center;
}

DIV#sidebar UL {
  margin: 0px -10px;
}

DIV#sidebar LI {
  display: block;
  margin-left: -30px;
}

DIV#sidebar LI#sideheading {
  border-top: solid 2px #666666;
  color: #666666;
  margin-right: 10px;
  margin-top: 5px;
}

DIV#footer {
  background-color: #cccccc;
  border-radius: 10px;
  top: 10px;
  clear: both;
  color: #666666;
  font-size: 80%;
  left: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

DIV#footer A {
  color: #666666;
  text-decoration: underline;
}

/* Mobile styles */
@media handheld, only screen and (max-device-width: 480px) {
  HTML {
    -webkit-text-size-adjust: 200%;
  }

  /* Page Layout for mobile browsers */
  DIV#body {
    border-radius: 0px;
    margin: 0px;
    max-width: none;
    min-width: none;
    width: 100%;
  }
  
  DIV#sidebar {
    border-radius: 0px;
    display: block;
    margin: 0px;
    width: 100%;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }

  DIV#footer {
    margin: 0px;
  }
}

/* Print styles */
@media print {
  DIV#page {
    margin: 0px;
    max-width: none;
    min-width: none;
    width: 100%;
  }

  DIV#sidebar {
    display: none;
  }

  DIV#footer {
    margin: 0px;
  }
}
