<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/simple-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/michaelrsweet.css">
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="keywords" content="linux,macos,software,unix,windows">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="/"><img src="apple-touch-icon.png"></a></li>
        <li><a href="https://github.com/michaelrsweet">Github Projects</a></li>
        <li><a href="/epm">EPM</a></li>
        <li><a href="/htmldoc">HTMLDOC</a></li>
        <li><a href="/mxml">Mini-XML</a></li>
        <li><a href="/rasterview">RasterView</a></li>
      </ul>
    </div>
    {{ content }}
    <div class="foot">
      <p>Copyright &copy; 2017 by Michael R Sweet.</p>
    </div>
  </body>
</html>
