<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/michaelrsweet.css">
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{page.title}}</title>
    <style><!-- input#website { display: none; } --></style>
    <meta name="keywords" content="linux,macos,software,unix,windows">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#msweet-nav-collapse">
	    <span class="sr-only">Toggle Navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/apple-touch-icon.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="msweet-nav-collapse">
	  <ul class="nav navbar-nav">
	    <li><a href="/about.html">About</a></li>
	    <li><a href="/blog.html">Blog</a></li>
	    <li><a href="/books.html">Books</a></li>
	    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a><ul class="dropdown-menu" role="menu">
	      <li><a href="https://github.com/michaelrsweet">All</a></li>
	      <li><a href="/pgp.html">PGP Information</a></li>
	      <li class="divider"></li>
	      <li><a href="/abnf">ABNF to REGEX</a></li>
	      <li><a href="/codedoc"><img src="/codedoc/codedoc-160.png" width="24" height="24"> codedoc</a></li>
	      <li><a href="/epm"><img src="/epm/epm-160.png" width="24" height="24"> EPM</a></li>
	      <li><a href="/htmlcss"><img src="/htmlcss/htmlcss-160.png" width="24" height="24"> htmlcss</a></li>
	      <li><a href="/htmldoc"><img src="/htmldoc/htmldoc-160.png" width="24" height="24"> HTMLDOC</a></li>
	      <li><a href="/mxml"><img src="/mxml/mxml-160.png" width="24" height="24"> Mini-XML</a></li>
	      <li><a href="/mmd"><img src="/mmd/mmd-160.png" width="24" height="24"> mmd</a></li>
	      <li><a href="/moauth"><img src="/moauth/moauth-160.png" width="24" height="24"> moauth</a></li>
	      <li><a href="/rasterview"><img src="/rasterview/rasterview-160.png" width="24" height="24"> RasterView</a></li>
	      <li><a href="/zipc"><img src="/zipc/zipc-160.png" width="24" height="24"> zipc</a></li>
	    </ul></li>
	  </ul>
	</div>
      </div>
    </nav>
    <div class="container-fluid container-header">
      <div class="row">
	<div class="col-sm-12">
	  <h1>{{page.title}} <small>{{ page.date | date: "%B %d, %Y" }}</small></h1>
	</div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-12">
	  {{content}}
	  {% if page.comments %}
	  <h2>Comments (<span id="comment-count">0</span>)</h2>
	  <div id="comments"></div>
	  {% endif %}
	  {% if page.commentform %}
	  <div class="panel panel-default">
	    <div class="panel-heading"><h3 id="comment-new" class="panel-title">New Comment</h3></div>
	    <div class="panel-body">
	      <form id="comment-form">
		<input type="hidden" name="PAGE" value="{{page.url}}">
		<input id="website" type="text" name="website">
		<div class="form-group">
		  <label for="name">Name:</label>
		  <input class="form-control" type="text" name="name" placeholder="Your name or blank for anonymous.">
		</div>
		<div class="form-group">
		  <label for="body">Comment:</label>
		  <textarea class="form-control" id="comment-body" name="body" rows="5" wrap="virtual" placeholder="Your comment."></textarea>
		</div>
		<button type="submit" class="btn">Post Comment</button>
	      </form>
	    </div>
	  </div>
	  {% endif %}
	</div>
      </div>
    </div>
    <div class="container-fluid container-footer">&nbsp;</div>
    <div class="footer">
      <p>Copyright &copy; 1991-{{ site.time | date: "%Y" }} by Michael R Sweet. All rights reserved.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {% if page.comments %}
    <script type="text/javascript">
    $(document).ready( function() {
      $('#comments').load('https://api.msweet.org/list-comments.php?PAGE={{page.url | cgi_escape}}', function() {
	count = $('#comments div.panel').length;
	$('#comment-count').html(count.toString());
      });
    });
    function post_comment() {
      const XHR = new XMLHttpRequest();
      const FD = new FormData(document.getElementById('comment-form'));
      XHR.addEventListener('load', function(event) {
        $('#comments').append(event.target.responseText);
	count = $('#comments div.panel').length;
	$('#comment-count').html(count.toString());
      });
      XHR.open('POST', 'https://api.msweet.org/post-comment.php');
      XHR.send(FD);
    }
    $('#comment-form').submit('submit', function(event) {
      event.preventDefault();
      if ($('#comment-body').val() != '')
        post_comment();
      $('#comment-body').val('');
    });
    </script>
    {% endif %}
  </body>
</html>
