<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/michaelrsweet.css">
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="keywords" content="linux,macos,software,unix,windows">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#msweet-nav-collapse">
	    <span class="sr-only">Toggle Navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/apple-touch-icon.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="msweet-nav-collapse">
	  <ul class="nav navbar-nav">
	    <li><a href="/blog.html">Blog</a></li>
	    <li><a href="/books.html">Books</a></li>
	    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a><ul class="dropdown-menu" role="menu">
	      <li><a href="https://github.com/michaelrsweet">All</a></li>
	      <li class="divider"></li>
	      <li><a href="/abnf">ABNF to REGEX</a></li>
	      <li><a href="/epm">EPM</a></li>
	      <li><a href="/htmldoc">HTMLDOC</a></li>
	      <li><a href="/mxml">Mini-XML</a></li>
	      <li><a href="/mmd">mmd</a></li>
	      <li><a href="/rasterview">RasterView</a></li>
	      <li><a href="/zipc">zipc</a></li>
	    </ul></li>
	  </ul>
	</div>
      </div>
    </nav>
    <div class="container-fluid container-header">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{page.project_name}} <small>{{page.subtitle}}</small></h1>
          <p><a class="btn btn-primary" href="index.html">Home Page <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
          <a class="btn btn-normal" href="{{page.project}}.html">Documentation <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
          <a class="btn btn-normal" href="https://github.com/michaelrsweet/{{page.project}}/releases">Download {{page.project}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
          <a class="btn btn-normal" href="https://github.com/michaelrsweet/{{page.project}}">Github Project <span class="glyphicon glyphicon-console" aria-hidden="true"></span></a>
          <a class="btn btn-normal" href="https://github.com/michaelrsweet/{{page.project}}/issues">Issue Tracker <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="container-fluid container-footer">&nbsp;</div>
    <div class="footer">
      <p>Copyright &copy; 1991-{{ site.time | date: "%Y" }} by Michael R Sweet. All rights reserved.</p>
    </div>
    <script type="text/javascript" src="/js/jquery-3.1.1.slim.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
