<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/michaelrsweet.css">
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <link type="application/atom+xml" rel="alternate" href="/msweet.xml">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{page.title}}</title>
    <meta name="keywords" content="linux,macos,software,unix,windows">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-msweet fixed-top" role="navigation">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="/"><img src="/apple-touch-icon.png"></a>
        <a class="navbar-brand me-3 ps-0" href="https://www.lakesiderobotics.ca" target="_blank" title="Lakeside Robotics"><img src="/images/lsr.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#msweet-nav-collapse" aria-controls="msweet-nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="msweet-nav-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="/books.html">Books</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="projectsMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="projectsMenu">
                <li><a class="dropdown-item" href="https://github.com/michaelrsweet">All</a></li>
                <li><a class="dropdown-item" href="/pgp.html">PGP Information</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Applications</h6></li>
                <li><a class="dropdown-item" href="/codedoc"><img src="/codedoc/codedoc-160.png" width="24" height="24"> codedoc</a></li>
                <li><a class="dropdown-item" href="/hp-printer-app"><img src="/hp-printer-app/hp-printer-app-160.png" width="24" height="24"> HP Printer Application</a></li>
                <li><a class="dropdown-item" href="/htmldoc"><img src="/htmldoc/htmldoc-160.png" width="24" height="24"> HTMLDOC</a></li>
                <li><a class="dropdown-item" href="/lprint"><img src="/lprint/lprint-160.png" width="24" height="24"> LPrint</a></li>
                <li><a class="dropdown-item" href="/mantohtml"><img src="/mantohtml/mantohtml-160.png" width="24" height="24"> mantohtml</a></li>
                <li><a class="dropdown-item" href="/moauth"><img src="/moauth/moauth-160.png" width="24" height="24"> moauth</a></li>
                <li><a class="dropdown-item" href="/rasterview"><img src="/rasterview/rasterview-160.png" width="24" height="24"> RasterView</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Libraries</h6></li>
                <li><a class="dropdown-item" href="/abnf"><img src="/abnf/abnf-160.png" width="24" height="24"> ABNF to REGEX</a></li>
                <li><a class="dropdown-item" href="/htmlcss"><img src="/htmlcss/htmlcss-160.png" width="24" height="24"> htmlcss</a></li>
                <li><a class="dropdown-item" href="/mxml"><img src="/mxml/mxml-160.png" width="24" height="24"> Mini-XML</a></li>
                <li><a class="dropdown-item" href="/mmd"><img src="/mmd/mmd-160.png" width="24" height="24"> mmd</a></li>
                <li><a class="dropdown-item" href="/pappl"><img src="/pappl/pappl-48.png" width="24" height="24"> PAPPL</a></li>
                <li><a class="dropdown-item" href="/pdfio"><img src="/pdfio/pdfio-160.png" width="24" height="24"> PDFio</a></li>
                <li><a class="dropdown-item" href="/stringsutil"><img src="/stringsutil/stringsutil-160.png" width="24" height="24"> stringsutil</a></li>
                <li><a class="dropdown-item" href="/zipc"><img src="/zipc/zipc-160.png" width="24" height="24"> zipc</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid container-header container-header-small">
      <div class="row">
        <div class="col-12">
	  <h1>{{page.title}}{% if page.subtitle %} <small>{{page.subtitle}}</small>{% endif %}</h1>
	</div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
	  {{ content }}
	</div>
      </div>
    </div>
    <div class="container-fluid container-footer">&nbsp;</div>
    <div class="footer container-fluid">
      <div class="row">
	<div class="col-auto"><a href="https://github.com/sponsors/michaelrsweet"><img src="https://img.shields.io/github/sponsors/michaelrsweet?style=social"></a>
	<a href="https://liberapay.com/michaelrsweet/donate"><img alt="Donate using Liberapay" src="https://img.shields.io/liberapay/patrons/michaelrsweet.svg?logo=liberapay"></a></div>
	<div class="col-auto">Copyright &copy; 1991-{{ site.time | date: "%Y" }} by Michael R Sweet. All rights reserved. Contact &ldquo;webmaster&#64;msweet&#46;org&rdquo; for assistance.</div>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
